# Visual Studio
.vs/
# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
# ASP.NET Scaffolding
ScaffoldingReadMe.txt
# NuGet packages
*.nupkg
# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
# .NET MAUI specific
bin/
obj/
